/* Hey! You're not supposed to be back here! This area is for employees only.*/

/*Make custom fonts available*/
@font-face {
  font-family: 'abeezeeregular';
  src: url('../fonts/abeezee-regular-webfont.eot');
  src: url('../fonts/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abeezee-regular-webfont.woff2') format('woff2'),
       url('../fonts/abeezee-regular-webfont.woff') format('woff'),
       url('../fonts/abeezee-regular-webfont.ttf') format('truetype'),
       url('../fonts/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'questrialregular';
  src: url('../fonts/questrial-regular-webfont.eot');
  src: url('../fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/questrial-regular-webfont.woff2') format('woff2'),
       url('../fonts/questrial-regular-webfont.woff') format('woff'),
       url('../fonts/questrial-regular-webfont.ttf') format('truetype'),
       url('../fonts/questrial-regular-webfont.svg#questrialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glyphsubset';
  src: url('../fonts/glyphsubset.eot');
  src: url('../fonts/glyphsubset.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphsubset.woff2') format('woff2'),
       url('../fonts/glyphsubset.woff') format('woff'),
       url('../fonts/glyphsubset.ttf') format('truetype'),
       url('../fonts/glyphsubset.svg#glyphsubset') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
/*Responsive design bit*/
@media screen and (max-width: 1132px) {
  footer {
    text-align: left !important;
  }
  header {
    width: 100% !important;
  }
  .photo_div {
    margin: 10px !important;
  }
  .margin70 {
    margin: 0px 40px 0px 40px !important;
  }
  .margin40 {
    margin: 15px 20px 0px 20px !important;
  }    
  .design_image {
    max-height: 200px !important;
    max-width: 300px !important;
  }
  #socialbar{
    right: 30px !important;
  }
  #container {
    width: 100% !important;
    display: inline-table !important;
  }
  #mtbanner {
    width: auto !important;
    display: block !important;
  }
  .design_div {
    padding: 3px !important;
    margin: 2px !important;    
  }
  #contact_div {
    margin: 80px 0px 40px 0px !important;
  }
}
  
@media screen and (max-width: 1000px) {
  .myname {
    font-size: 60px !important;
    line-height: 20px !important;
    letter-spacing: -2px !important;
    margin-top: 30px !important;
  }
  nav a {
    margin: 0px 0px 0px 0px !important;
  }
  header {
    height: auto !important;
  }
  footer {
    position: relative !important;
  }
  #headerdiv {
    display: block !important;
    box-sizing: border-box !important;
  }
  #socialbar{
    display: inline-flex !important;
  }
  .socialimg{
    margin: 2px !important;
  }
  .design_div {
    padding: 2px !important;
    margin: 1px !important;    
  }
  #contact_div {
    margin: 40px 0px 40px 0px !important;
  }
}
  
@media screen and (max-width: 904px) {
  #headerdiv {
    margin-bottom: 0px !important;
  }
  #DESIGN {
    text-align: left !important;
    display: none !important;
  }
  #PHOTO {
    text-align: left !important;
    display: none !important;
  }
  #index_footer {
    position: relative !important;
    display: inline-block !important;
    bottom: 0 !important;
    margin: 10px 50px 30px 50px !important;
    margin-left: 20px !important;
    text-align: left !important;
    left: 0 !important;
  }
}

@media screen and (max-width: 710px) {
  footer {
    margin-left: 20px !important;
  }
  .rowcontainer {
    flex-wrap: wrap !important;
  }
  .margin40 {
    margin: 15px 10px 0px 10px !important;
  }
  .gen_text{
    padding: 10px 10px 10px 10px !important;
  }
  .med_text{
    padding: 10px 10px 10px 10px !important;
  }
  .justify {
    text-align: left !important;
  }
  #headerdiv {
    display: inline-block !important;
    box-sizing: border-box !important;
  }
  #skill_list {
    display: block !important;
  }
  #skill_table {
    display: none !important;
  }
  #full_table1 {
    display: none !important;
  }
  #full_table2 {
    display: none !important;
  }
  #short_table1 {
    display: block !important;
  }
  #short_table2 {
    display: block !important;
  }
  #mainnav {
    display: none !important;
  }
  #navmobile {
    display: block !important;
  }
}

@media screen and (max-width: 620px) {
  .myname {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 520px) {
  .big_text {
    font-size: 25px !important;
  }
  #headerdiv {
    position: static !important;
  }
  .myphoto {
    margin: 15px 0px 0px 30px !important;
  }
  .gen_div {
    display: block !important;
  }
  #contact_div {
    display: block !important;
  }
  .myname {
    font-size: 38px !important;
    line-height: 20px !important;
    letter-spacing: -2px !important;
    margin-top: 30px !important;
  }
  .margin40 {
    margin: 10px 5px 0px 5px !important;
  }
  .margin70 {
    margin: 0px 10px 0px 10px !important;
  }
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: table-row !important;
  }
  .img150 {
    width: 75px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
  #intro_svg {
    display: none !important;
  }
  #intro_text {
    display: block !important;
  }
}

@media screen and (max-width: 440px) {
  .myname {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 380px) {
  .myname {
    font-size: 23px !important;
    margin: 30px 0px 0px 10px !important;
  }
}

/* Replace SVG with gradiated text for webkit devices*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #intro_svg {
    display: none !important;
  }
  #intro_text {
    display: block !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #intro_svg {
    display: none !important;
  }
  #intro_text {
    display: block !important;
  }
}
/* iPhones and iPads can't handle the layout on the software page.

  iPhone 4 variations*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 75px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
}
/*iPhone 5 variations*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 75px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
}
/*iPhone 6 variations*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 75px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
}
/* iPad Mini */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 75px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
}
/* iPad 1/2 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 100px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
/* iPad 3/4 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .mobile_parent {
    display: table !important;
  }
  .mobile_child {
    display: block !important;
  }
  .img150 {
    width: 100px !important;
  }
  .genphoto {
    margin: 20px 0px 4px 10px !important;
  }
}
}
  
/*Main CSS*/
html {
  height: 100%;
  width: 100%;
}
  
header {
  height: 169px;
  width: 1130px;
  background-color: white;
  top: 0;
}

body {
  background-repeat: repeat;
  background-color: #b6b6b6;
  display: block;
  margin: 0px 0px 0px 0px;
}
  
hr {
  border: 0;
  height: 1px;
  background: #333333;
  background-image: linear-gradient(to right, #cccccc, #333333, #cccccc);
}

a {
  cursor: pointer;
}
   
h1 {
  font-family: abeezeeregular, Futura, sans-serif;
  text-align: center;
  display: inline-block;
  color: #004f7d;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

footer {
  position: relative;
  display: inline-block;
  bottom: 0;
  margin: 10px 50px 30px 50px;
  margin-left: calc((100% / 2) - 350px);
  font-family: arial, "sans-serif";
  text-align: center;
  color: gray;
  font-size: 12px;
}
  
nav {
  display: block;
  margin: 5px 0px 0px 0px;
  background-color: transparent;
}

nav a {
  padding: 0px;
  margin: 0px;
  height: 39px;
  border: 0px;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
}

nav a:hover {
  cursor: pointer;
}
   
.navli {
  display: inline-block;
  height: 39px;
  margin: 0px 1px 0px 1px;
  text-decoration: none;  
}

.navli a {
  font-size: 0;
  text-decoration: none;
}
  
.navlist {
  list-style: none;
  display: inline-block;
  color: transparent;
  margin: 0px 0px 0px 30px;
  padding: 0px 0px 0px 0px;
  border-top: solid 1px;
  border-color: #404040;
}
 
.socialimg {
  height: 20px;
  width: 20px;
  border: 0px;
}
   
.myname {
  font-size: 80px;
  letter-spacing: -4px;
  line-height: 70px;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px 0px 20px;
}

.myphoto {
  width: auto;
  height: 150px;
  margin: 15px 0px 0px 65px;
  float: left;
}

.table_img {
  vertical-align: middle;
}

.nodecoration {
  border: none;
}

.nodecoration td {
  padding: 10px;
  padding-right: 30px;
}

.block_ {
  display: block !important;
}

.no_bottom {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.no_top {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.standard_table {
  border-spacing: 0;
  font-family: questrialregular, arial, "sans-serif";
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  line-height: 1.3;
  font-size: 17px;
  padding: 5px;
  margin: 0
}

.decorated th {
  border: 0px;
  border-bottom: 1px solid #004f7d;
  padding: 5px;
}

.decorated td {
  border: 0px;
  padding: 10px;
}

.decorated_colour tr:nth-child(even) {
  background-color: #cbe4f2;
  }

.gradient_text {
  background: -webkit-linear-gradient(#01a2ff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #292929; /* For IE, because it sucks */
}

.gen_text {
  font-family: questrialregular, arial, "sans-serif";
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  line-height: 1.3;
  padding: 20px 30px 20px 30px;
  display: block;
  box-sizing: border-box;
  left: 0;
}

.big_text {
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
}

.title_text {
  font-size: 21px;
}
  
.med_text {
  font-size: 17px;
  line-height: 1.3;
}
  
.small_text {
  font-size: 14px;
  line-height: 1.3;
}

.invert_hr {
  background: #cccccc;
  background-image: linear-gradient(to right, #333333, #cccccc, #333333);
  }
 
.invert_text {
  color: white;
  background-color: #262626;
}
  
.form_text {
  font-size: 15px;
  padding: 6px 2px 6px 15px;
  margin: 0px 0px 0px 0px;
}

.main_glyph {
  font-family: glyphsubset, 'Segoe UI Symbol';
}

.inline_item {
  display: inline-block;
}
  
.red_link {
  text-decoration: none;
  font-weight: bold;
  color: #CC0000;
}
  
.normal_link {
  text-decoration: none;
  color: #004f7d;
}
  
.small_link {
  font-family: questrialregular, arial, "sans-serif";
  font-size: 12px;
  color: #004f7d;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  box-sizing: border-box;
  background: transparent;
}
 
.swift_block_title {
  color: #CC0000;
  font-style: bold;
}
   
.gen_title {
  font-family: questrialregular, arial, "sans-serif";
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-align: left;
  margin: 10px 15px 0px 0px;
  display: block;
  box-sizing: border-box;
  left: 0;
}

.full_width {
  width: 1130px;
}
  
.gen_div {
  background-color: inherit;
  padding: 0px 0px 0px 0px;
  display: inline-flex;
}

.genphoto {
  border: none;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

.img150 {
  width: 150px;
  height: auto;
}

.photo_div_active {
  height: 300px;
  margin: 20px;
}

.photo_div_inactive {
  height: 2px;
  margin: 0;
}

.photo_div {
  width: 300px;
  padding: 0px;
  overflow: hidden;
  display: block;
  background-color: transparent;
}

.photo_div img {
  margin: 0px;
  padding: 0px;
  position: relative;
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: #333333;
  max-width: none;
  max-height: none;
}

.photo_div p {
  display: none;
  padding: 5px 5px 10px 5px;
  opacity: 0;
}

.photo_div:hover {
  border-color: #004f7d;
  cursor: pointer;
}

.design_div {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  display: block;
  border-style: none;
  transition: 0.1s 0.5s opacity ease;
  webkit-transition: 0.1s 0.5s opacity ease;
}
  
.design_div img {
  margin: 0px;
  padding: 8px;
  position: relative;
  right: -5%;
  border: 1px;
  border-color: #bfbfbf;
  border-style: solid;
  background-color: #ebebeb;
  height: 75%;
  width: 75%;  
}

.design_div p {
  display: none;
  padding: 5px 5px 10px 5px;
  opacity: 0;
}

.design_div:hover {
  border-color: #004f7d;
  cursor: pointer;
}
  
.active_design_div {
  display: block;
  padding: 0px;
  margin: 0px;
  border: none;
  background: transparent;
  position: fixed;
  top: 20px;
  left: 100px;
  z-index: 2;
  transition: 0.1s 0.5s opacity ease;
  webkit-transition: 0.1s 0.5s opacity ease;
  opacity: 0;
  visibility: hidden;
}

.active_design_div img {
  display: block;
}

.active_design_div p {
  display: block;
  padding: 10px 10px 10px 10px;
  border: 1px;
  border-style: solid;
  border-color: #004f7d;
  box-sizing: border-box;
  margin: 0px;
  opacity: 1;
}
  
.arrow {
  position: fixed;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #D3D1C6;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background: transparent;
  z-index: 3;
}

.rowcontainer {
  width: 100%;
  max-width: 1130px;
  display: -webkit-inline-box;/* For really old versions of safari*/
  display: -webkit-flex;/* For safari 8.1 */
  display: flex;
  box-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact_link {
  margin: 15px 0px 0px 75px;
  text-decoration: none;
  text-align: center;
  color: #bfe8ff;
  font-family: abeezeeregular, Arial, sans-serif;
  font-size: 16px;
}

.img_div {
  margin: auto;
  display: -webkit-flex;/* For safari 8.1 */
  display: flex;
}

.align_left {
  align: left;
}

.centred {
  width: 100%;
  text-align: center;
}

.centred_txt {
  text-align: center;
}

.right_txt {
  text-align: right;
}

.nopad td {
  padding: 0;
}

.black {
  background-color: #131313;
  color: #efefef;
}

.justify {
  text-align: justify;
}

.fullwidth {
  width: 100%;
}

.navlink {
  font-size: 0px;
}
  
.margin0 {
  margin: 0px 0px 0px 0px;
}
  
.margin70 {
  margin: 0px 60px 0px 70px;
}
  
.margin40 {
  margin: 15px 40px 0px 40px;
}
  
.margin30 {
  margin: 15px 30px 0px 30px;
}

.mobile_menu_item {
  color: #1d43f0;
}

.blue_text {
  color: #004f7d;
}

#empty {
  /*Don't put anything here*/
}

#noscript {
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fff568;
  color: black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#intro_svg {
  padding-top: 40px;
  width: 95%;
}

#intro_text {
  display: none;
}

#intro_text span {
  font-weight: 40px;
  color: #01a2ff;
}

#index_footer {
  display: block;
  position: absolute;
  margin-left: 0px;
  left: calc((100% / 2) - 350px);
  }
  
#home_symbol {
  color: #004f7d;
  }
  
#contact_div {
  display: -webkit-flex;/* For safari 8.1 */
  display: flex;
  margin: 80px 0px 40px 0px;
}
  
#socialbar{
  list-style: none;
  color: white;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  right: calc((100% - 1100px) / 2);
  margin: 0pc 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
}

#selected_page {
  background-color: #4e6df0;
}

#selected_page:hover {
  background-color: black;
}
  
#small_mt_pic {
  margin: 0px 0px 0px 40px;
  padding: 0px 0px 0px 0px;
  border: none;
}

#mtbanner {
  background-color: #CC0000;
  width: 1130px;
  margin: 20px 0px 20px 0px;
}

#swiftboxes {
  margin: 0px 0px 0px 30px;
}

#container {
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  box-shadow: 1px 0px 40px #262626;
  display: block;
}
  
#headerdiv {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;
}
  
#swift_input {
  color: black;
  background-color: #FFA09B;
}
  
#swift_output {
  color: black;
  background-color: #FFA09B;
}
  
#swift_button {
  margin: 0px 2px 5px 30px;
}

#swift_options {
  display: none;
  margin: 0px 0px 10px 30px;
}

#skill_list {
  display:none;
}

#skill_list ul{
  list-style-type: none;
  line-height: 3;
}

#short_table1 {
  display: none;
}
#short_table2 {
  display: none;
}

#DESIGN, #PHOTO {
  opacity: 1;
  display: block;
  position: inherit;
  height: auto;
  width: 100%;
  text-align: right;
  transition: 0.2s opacity linear;
  webkit-transition: 0.2s opacity linear;
  padding: 0;
  margin: 30px 0px 30px 0px;
}

#blackdiv {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0;
  left: 0;
  display: none;
  visibility: hidden;
  z-index: 1;
}
  
#arrow_left {
  left: 30px;
  top: 50%;
}

#arrow_right {
  right: 30px;
  top: 50%;
}

#navmobile {
  display: none;
  height: 70px;
  width: 70px;
  background-color: transparent;
  margin: 10px 0px 0px 30px;
  padding: 0px;
  border-radius: 10px;
  background: url("../images/sprites/mobile_button.png") 0px 0px;
}

#navmobile a {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
}

#mobile_selected {
  color: black;
}

#mobilelist {
  display: none;
  position: absolute;
  background: #d0d8ff;
  padding: 5px;
  border-radius: 10px;
  margin: 0px 0px 0px -25px;
  z-index:4;
}

#mobilelist ul {
  margin: 16px;
  padding: 0px;
  list-style: none;
  left: auto;
}

#mobilelist li {
  padding: 3px 0px 3px 0px;
}

#mobilelist a {
  font-size: 18px;
  text-decoration: none;
}
  
/* Body background images*/
#bhome {
  background-image: url("../images/bg/bgtile.png");
  background-color: white;
}

#bprof {
  background-image: url("../images/bg/protile.png");
  background-color: white;
}

#bsoft {
  background-image: url("../images/bg/softile.png");
  background-color: white;
}
  
#bdesign {
  background-image: url("../images/bg/destile.png");
  background-color: white;
}
  
#bphoto {
  background-image: url("../images/bg/photile.png");
  background-color: #131313;  
}
  
#bcont {
  background-image: url("../images/bg/contile.png");
  background-color: white;
}

/* Sprites */
#linkedin, #facebook, #github, #emailme, #linkedin_dark, #facebook_dark, #github_dark, #emailme_dark {
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

#socialbar li, #socialbar a {
  height: 20px;
  display: block;
  box-sizing: border-box;
}

#linkedin {
  background: url("../images/sprites/small_icons.gif") 0px -21px;
}

#linkedin:hover {
  background: url("../images/sprites/small_icons.gif") 20px -21px;
}

#facebook {
  background: url("../images/sprites/small_icons.gif") 0px -42px;
}

#facebook:hover {
  background: url("../images/sprites/small_icons.gif") 20px -42px;
}

#github {
  background: url("../images/sprites/small_icons.gif") 0px 0px;
}

#github:hover {
  background: url("../images/sprites/small_icons.gif") 20px 0px;
}

#emailme {
  background: url("../images/sprites/small_icons.gif") 0px -63px;
}

#emailme:hover {
  background: url("../images/sprites/small_icons.gif") 20px -63px;
}

#linkedin_dark {
  background: url("../images/sprites/small_icons_dark.gif") 0px -21px;
}

#linkedin_dark:hover {
  background: url("../images/sprites/small_icons_dark.gif") 20px -21px;
}

#facebook_dark {
  background: url("../images/sprites/small_icons_dark.gif") 0px -42px;
}

#facebook_dark:hover {
  background: url("../images/sprites/small_icons_dark.gif") 20px -42px;
}

#github_dark {
  background: url("../images/sprites/small_icons_dark.gif") 0px 0px;
}

#github_dark:hover {
  background: url("../images/sprites/small_icons_dark.gif") 20px 0px;
}

#emailme_dark {
  background: url("../images/sprites/small_icons_dark.gif") 0px -63px;
}

#emailme_dark:hover {
  background: url("../images/sprites/small_icons_dark.gif") 20px -63px;
}

/* Navigation Sprites */
#navlihome {
  width: 48px;
  background: url("../images/sprites/navsprites.png") no-repeat 0px 0px;
}
#navlihome_selected {
  width: 48px;
  background: url("../images/sprites/navsprites.png") no-repeat 0px -39px;
}
#navliprof {
  width: 152px;
  background: url("../images/sprites/navsprites.png") no-repeat -48px 0px;
}
#navliprof_selected {
  width: 152px;
  background: url("../images/sprites/navsprites.png") no-repeat -48px -39px;
}
#navlisoft {
  width: 128px;
  height: 39px;
  background: url("../images/sprites/navsprites.png") no-repeat -200px 0px;
}
#navlisoft_selected {
  width: 128px;
  height: 39px;
  background: url("../images/sprites/navsprites.png") no-repeat -200px -39px;
}
#navlidesign {
  width: 108px;
  background: url("../images/sprites/navsprites.png") no-repeat -328px 0px;
}
#navlidesign_selected {
  width: 108px;
  background: url("../images/sprites/navsprites.png") no-repeat -328px -39px;
}
#navliphoto {
  width: 159px;
  background: url("../images/sprites/navsprites.png") no-repeat -436px 0px;
}
#navliphoto_selected {
  width: 159px;
  background: url("../images/sprites/navsprites.png") no-repeat -436px -39px;
}
#navlicontact {
  width: 117px;
  background: url("../images/sprites/navsprites.png") no-repeat -595px 0px;
}
#navlicontact_selected {
  width: 117px;
  background: url("../images/sprites/navsprites.png") no-repeat -595px -39px;
}
/* BLACK */
#navlihome_black {
  width: 48px;
  background: url("../images/sprites/navsprites.png") no-repeat 0px -156px;
}
#navliprof_black {
  width: 152px;
  background: url("../images/sprites/navsprites.png") no-repeat -48px -156px;
}
#navlisoft_black {
  width: 128px;
  height: 39px;
  background: url("../images/sprites/navsprites.png") no-repeat -200px -156px;
}
#navlidesign_black {
  width: 108px;
  background: url("../images/sprites/navsprites.png") no-repeat -328px -156px;
}
#navlicontact_black {
  width: 117px;
  background: url("../images/sprites/navsprites.png") no-repeat -595px -156px;
}
/* HOME */
#home {
  background: url("../images/sprites/navsprites.png") no-repeat 0px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#home:hover {
  opacity: 1;
}
#home_selected {
  background: url("../images/sprites/navsprites.png") no-repeat 0px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#home_selected:hover {
  opacity: 1;
}
/* PROFESSIONAL */
#prof {
  background: url("../images/sprites/navsprites.png") no-repeat -48px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#prof:hover {
  opacity: 1;
}
#prof_selected {
  background: url("../images/sprites/navsprites.png") no-repeat -48px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#prof_selected:hover {
  opacity: 1;
  ;
}
/* SOFTWARE */
#soft {
  background: url("../images/sprites/navsprites.png") no-repeat -200px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#soft:hover {
  opacity: 1;
}
#soft_selected {
  background: url("../images/sprites/navsprites.png") no-repeat -200px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#soft_selected:hover {
  opacity: 1;
}
/* DESIGN */
#dsgn {
  background: url("../images/sprites/navsprites.png") no-repeat -328px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#dsgn:hover {
  opacity: 1;
}
#dsgn_selected {
  background: url("../images/sprites/navsprites.png") no-repeat -328px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#dsgn_selected:hover {
  opacity: 1;
}
/* PHOTOGRAPHY */
#phtgph {
  background: url("../images/sprites/navsprites.png") no-repeat -436px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#phtgph:hover {
  opacity: 1;
}
#phtgph_selected {
  background: url("../images/sprites/navsprites.png") no-repeat -436px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#phtgph_selected:hover {
  opacity: 1;
}
/* CONTACT */
#cntct {
  background: url("../images/sprites/navsprites.png") no-repeat -595px -78px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#cntct:hover {
  opacity: 1;
}
#cntct_selected {
  background: url("../images/sprites/navsprites.png") no-repeat -595px -117px;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
  opacity: 0;
}
#cntct_selected:hover {
  opacity: 1;
}

/* Contacts Sprites */
#emailme_big, #linkedin_big {
  width: 265px;
  height: 80px;
  margin: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

#emailme_big a, #linkedin_big a {
  height: 80px;
  display: block;
  box-sizing: border-box;
}

#emailme_big {
  background: url("../images/sprites/big_icons.gif") no-repeat 0px 0px;
}

#emailme_big:hover {
  background: url("../images/sprites/big_icons.gif") no-repeat 0 -81px;
}

#linkedin_big {
  background: url("../images/sprites/big_icons.gif") no-repeat 0px -162px;
}

#linkedin_big:hover {
  background: url("../images/sprites/big_icons.gif") no-repeat 0 -243px;
}